<h2>Behind Code Solutions</h2>
<div id="container">
	<div id="box">
		<h3>When the company was formed</h3>
		<p>bla bla</p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>

<div id="container">
	<div id="box">
		<h3>Who we are</h3>
		<p>bla bla</p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>

<div id="container">
	<div id="box">
		<h3>Why we do what we do</h3>
		<p>bla bla</p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>

<div id="container">
	<div id="box">
		<h3>Where we operate</h3>
		<p>bla bla</p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>