<h2>Behind Code Solutions</h2>
<div id="container">
	<div id="box">
		<h3>When the company was formed</h3>
		<p>Headquartered in Philidelphia PA since 2008</p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>

<div id="container">
	<div id="box">
		<h3>Who we are</h3>
		<p>Code Solutions is a debugging firm focused primarily on creating solutions to make peoples lives better</p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>

<div id="container">
	<div id="box">
		<h3>Why we do what we do</h3>
		<p>At out cour, we're seasoned technologist with a decade of experience building complex solutions at the highest quality. So we know what it's like to come across complex, "special" bugs/p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>

<div id="container">
	<div id="box">
		<h3>Where we operate</h3>
		<p>We are headquartered in phily (home of the 2018 superbowl champs the Eagles). We offer our in person courses in PA, VA and NY while also offering the online courses to the cyber world in the U.S</p>
	</div>
	<img id= 'pic' src="images/test.jpg">>
</div>