<div class="wrapper">
		  		<form action="/action_page.php">
		    		<div class="rows">
		      			<div class="Box_1">
		        			<label for="fname">First Name</label>
		      			</div>
		      			<div class="Box_2">
		        		<input type="text" id="fname" name="firstname" placeholder="Your name..">
		      			</div>
		    		</div>
		    		<div class="rows">
		      			<div class="Box_1">
		        			<label for="subject">subject</label>
		      			</div>
		      			<div class="Box_2">
		        			<input type="text" id="subject" name="subject" placeholder="subject..">
		      			</div>
		    		</div>
		    	<div class="rows">
		      		<div class="Box_1">
		        		<label for="content">content</label>
		      		</div>
		      		<div class="Box_2">
		      			<input type="text" name="content" placeholder="Write something.." style="height:200px"></textarea>
		      		</div>
		    	</div>
		    	<div class="rows">
		   			<input type="submit" value="Submit">
		   		</div>
		  	</form>
		</div>