    <div class='container'>
      <img id = "picture" src="images/debug.jpeg" alt="bug" width="600" height="300"/>
      <div><h1><b>Debugging</b> should not be twice as hard to write</h1>

               <p>CodeSolution helps IT decision-makers identify technologies
                  and strategies to empower workers and streamline business
                  processes. The site delivers a unique blend of original
                  content by IT professionals, peer-to-peer advice from the
                  largest community of IT leaders on the Web and a vast library
                  of professional resources from the leading vendors in the IT
                  industry.</p>

              <p> CodeSolution features blogs, community forums, software
                  downloads and research</p
      </div>
    </div>

<style>img#{align-left; float: left; margin-right: 10px;}</style>
