<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Tech Company</title>
    <link rel='stylesheet' href='main.css'/>
  </head>

<body>


    <div class='container'>
      <div id='content'>
        <div class'>

          <div class='sidebar'>
        <img src=".jpg"alt=""/>
        <h2></h2></br>
        <p></p><br/>

      <ul>
        <li><em><a href="https://www."target="_blank">text</a/></em></li>
        <br/>
        <li><em><a href="https://www."target="_blank"></a/></em></li>
        <br/>
        <li><em><a href="https://www."target="_blank"></a/></em></li>
      </ul>

      </div>
      <div class='content'>
        <img src=".jpg"alt="text" class='article-image'/>

        <h2></h2>


        <p></p><br/>

       <p></p><br/>

       <p></p>

       <p></p>

     </div>     <!--End Content-->
