<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Code Solutions</title>
	<ul>
		<li><a class="active" href="main.html">Home</a></li>
		<li><a href="middle.html">Volunteer</a></li>
		<li><a href="Contact_US.html">Contact</a></li>
	</ul>
	<div style="margin-left:20%;padding:1px 5px;height:500px;">
</head>
<body>

<div class="main-container"> <%= yield%></div>

<script type="text/javascript" src="javascript/courses.js"></script>
<script type="text/javascript" src="javascript/apparel.js"></script>
</body>
</html>