<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Code Solutions</title>
	<ul>
		<li><a class="active" href="http://localhost:4567/home">Home</a></li>
		<li><a href="http://localhost:4567/news">News</a></li>
		<li><a href="http://localhost:4567/about">About Us</a></li>
		<li><a href="http://localhost:4567/shop">Shop</a></li>
		<li><a href="http://localhost:4567/contact_us">Contact Us</a></li>
	</ul>
<div style="margin-left:20%;padding:1px 5px;height:500px;">
<div class="main-container"> <%= yield%></div>
</div>
<script type="text/javascript" src="javascript/courses.js"></script>
<script type="text/javascript" src="javascript/apparel.js"></script>
</body>
</html>