    <div class="news_wrapper">

      <div class="news" id="article1">
        <div class="picture" id="photo1"></div>
        <div class="">
          <p>February 7, 2018</p>
            <p class="content">Code Solutions engineers launch Honeycomb, a new tool for debugging nightmares.
              CEO Dwayne Johnson has approved bug bounty programs, designed to provide financial incentives for talented hackers
            to discover and destry bugs.</p>
        </div>
      </div>

      <div class="news" id="article2">
        <div class="picture" id="photo2"></div>
        <div class="">
          <p>February 8, 2018</p>
          <p class="content">Officially launched Honeycomb.io bills itself as the "fastest, simplest way to debug with data"
              suggesting that it may provide a missing link in software development.</p>
        </div>
      </div>

    </div>
