<div class="main_img">
  		<div class="main_img_text">
   			<h1>Bla bla bla bla</h1>
    		<p>yadda yadda yadda</p>
    		<button>Know More</button>
  		</div>
	</div>
	<br>
	<div class="clearfix"></div>

	<div class="row">
  		<div class="product">
    		<div class="container">
      			<img src="images/Curl_Smoothie.png" alt="Curl Enhancing Smoothie" class="images">
      			<div class="text">
        		<h2>Curl Enhancing Smoothie</h2>
        		<p>Coconut smoothie that helps mostiorize here and bring out curls, great for wavers.</p>
        		<p><button class="button">Add to Cart</button></p>
      			</div>
    		</div>
  		</div>

  		<div class="product">
    		<div class="container">
      			<img src="images/olive_oil.jpg" alt="Curl Enhancing Smoothie" class="images">
      			<div class="text">
        		<h2>Olive Oil</h2>
        		<p>Great for hair, natrul ingredients, favorite among women.</p>
        		<p><button class="button">Add to Cart</button></p>
      			</div>
    		</div>
  		</div>

  		<div class="product">
    		<div class="container">
      			<img src="images/sportin_waves.jpg" alt="Curl Enhancing Smoothie" class="images">
      			<div class="text">
        		<h2>Sportin Waves Pomade</h2>
        		<p>Pomade to hold hair in place, mostiorizes and shapes curls.</p>
        		<p><button class="button">Add to Cart</button></p>
      			</div>
    		</div>
  		</div>

  		<div class="product">
    		<div class="container">
      			<img src="images/product_pack.jpg" alt="Curl Enhancing Smoothie" class="images">
      			<div class="text">
        		<h2>Hair Quality Pack</h2>
        		<p>Comes with 2 pomades, a curl &amp shine shampoo as well as a shampoo and conditioner in one product as well</p>
        		<p><button class="button">Add to Cart</button></p>
      			</div>
    		</div>
  		</div>

  		<div class="product">
    		<div class="container">
      			<img src="images/diane_d8119.jpg" alt="Curl Enhancing Smoothie" class="images">
      			<div class="text">
        		<h2>Diane D8119 brush</h2>
        		<p>Medium brush great for short to semi-wolfing hair.</p>
        		<p><button class="button">Add to Cart</button></p>
      			</div>
    		</div>
  		</div>

  		<div class="product">
    		<div class="container">
      			<img src="images/royal_brush.jpg" alt="Curl Enhancing Smoothie" class="images">
      			<div class="text">
        		<h2>Royal Brush</h2>
        		<p>Hard brush for those who have coarse hair and those wolfing for the long haul.</p>
        		<p><button class="button">Add to Cart</button></p>
      			</div>
    		</div>
  		</div>
  	</div>
  	<div class="clearfix"></div>
  	<div class="model">
  		<input type="button" name="" id="x" value="x">
  		<div id="top"></div>
  		<div id="bottom">
  			<h3>Want to be notified about new products?</h1>
  				<input type="text" name="email" id="email" placeholder="Email">
  				<input type="submit" name="" value="submit">
  		</div>
  	</div>