.wrapper {
  margin: 0;
}

.news {
  width: 1100px;
  height: 400px;
  display: inline-block;
  margin: 30px;
}

.picture {
  width: 300px;
  height: 400px;
  float: left;
}

.content{
  font-size: 36pt;
  text-align: left;
}

#photo1 {
  background-image: url('../images/news/CEO.jpg');
background-size: contain;
background-repeat: no-repeat;
}

#photo2 {

}
