body {
  background-image: url("../images/news/news_background.png");
  background-size: auto;
}

.news_wrapper {
  margin: 0;
  margin-top: 25px;
}

.news {
  width: 1100px;
  height: 400px;
  display: inline-block;
  margin: 30px;
}

.picture {
  width: 300px;
  height: 400px;
  float: left;
}

.content {
  font-size: 37pt;
  text-align: left;
}

#photo1 {
  background-image: url("../images/news/CEO.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 60px;
}

#photo2 {
  background-image: url("../images/news/honeycomb.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 60px;
}

#photo3 {
  background-image: url("../images/news/Team.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 60px;
}
